<table class="orangeTable">
        <tbody>
            <tr class="searchRow">
                <td><input placeholder="username" [(ngModel)]="userToSearch.username"></td>
                <td>
                  <select [(ngModel)]="userToSearch.userType">
                      <option [ngValue]="undefined" hidden selected>choose a usertype</option>
                      <option value="ADMIN">ADMIN</option>
                      <option value="USER">USER</option>
                  </select>
                </td>
                <td>
                </td>
                  <td>
                    <button class="btn btn-search" (click)="search()"><i class="fas fa-search"></i>Search</button>
                  </td>
                <td>
                    <button (click)="clearSearch()">Clear</button>
                </td>
          </tr>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Usertype</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input autocomplete="off" placeholder="insert username" type="text" [(ngModel)]="userToInsert.username">
            </td>
            <td>
              <input autocomplete="off" placeholder="insert password" type="text" [(ngModel)]="userToInsert.password">
            </td>
            <td>
              <select [(ngModel)]="userToInsert.userType">
                <option [ngValue]="undefined" hidden selected>choose a usertype</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
              </select>
            </td>
            <td>
              <button (click)="insert(userToInsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let user of users">
            <td>
              <input autocomplete="off" [(ngModel)]="user.username">
            </td>
            <td>
              <input autocomplete="off" type="password" [(ngModel)]="user.password" (dblclick)='showPassword($event);'>
            </td>
            <td>
              <select [(ngModel)]="user.userType">
                <option [selected]="user.userType===ADMIN" value="ADMIN">
                  ADMIN
                </option>
                <option [selected]="user.userType===USER" value="USER">
                  USER
                </option>
              </select>
            </td>
            <td>
              <button (click)=update(user)>Save</button>
            </td>
            <td>
              <button (click)="delete(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
