<table class="orangeTable">
        <tbody>
            <tr class="searchRow">
                <td><input placeholder="Username" [(ngModel)]="userToSearch.login"></td>
                <td><input placeholder="First name" [(ngModel)]="userToSearch.firstName"></td>
                <td><input placeholder="Last name" [(ngModel)]="userToSearch.lastName"></td>
                <td>
                  <select [(ngModel)]="userToSearch.authorities">
                      <option [ngValue]="undefined" hidden selected>choose a usertype</option>
                      <option value="ADMIN">ADMIN</option>
                      <option value="USER">USER</option>
                  </select>
                </td>
                <td><input placeholder="E-mail" [(ngModel)]="userToSearch.email"></td>
                <td>
                      <select [(ngModel)]="userToSearch.activated">
                          <option [ngValue]="undefined" hidden selected>status</option>
                          <option [ngValue]="true">Activated</option>
                          <option [ngValue]="false">Deactivated</option>
                      </select>
                    </td>
                <td>
                </td>
                  <td>
                    <button class="btn btn-search" (click)="search()"><i class="fas fa-search"></i>Search</button>
                  </td>
                <td>
                    <button (click)="clearSearch()">Clear</button>
                </td>
          </tr>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Usertype</th>
            <th>E-mail</th>
            <th>Activated</th>
          </tr>
          <tr>
            <td>
              <input autocomplete="off" placeholder="insert username" type="text" [(ngModel)]="userToInsert.login">
            </td>
            <td>
                  <input autocomplete="off" placeholder="insert password" type="text" [(ngModel)]="userToInsert.password">
            </td>
            <td>
              <input autocomplete="off" placeholder="insert first name" type="text" [(ngModel)]="userToInsert.firstName">
            </td>
            <td>
              <input autocomplete="off" placeholder="insert last name" type="text" [(ngModel)]="userToInsert.lastName">
            </td>
            <td>
              <select [(ngModel)]="userToInsert.authorities">
                <option [ngValue]="undefined" hidden selected>choose a usertype</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
              </select>
            </td>
            <td>
              <input autocomplete="off" placeholder="insert e-mail" type="text" [(ngModel)]="userToInsert.email">
            </td>
            <td></td>
            <td>
              <button (click)="insert(userToInsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear(userToInsert)">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let user of users">
            <td>
              <input autocomplete="off" [(ngModel)]="user.login">
            </td>
            <td>
              <input autocomplete="off" type="password" disabled>
            </td>
            <td>
              <input autocomplete="off" [(ngModel)]="user.firstName">
            </td>
            <td>
              <input autocomplete="off" [(ngModel)]="user.lastName">
            </td>
            <td>
              <select [(ngModel)]="user.authorities">
                <option [ngValue]="undefined" hidden selected>choose a usertype</option>
                <option value="ROLE_ADMIN">
                 ADMIN
                </option>
                <option value="ROLE_USER">
                  USER
                </option>
              </select>
            </td>
            <td>
                <input type="email" [(ngModel)]="user.email">
            </td>
            <td>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="user.activated">
                  <span class="slider round"></span>
                </label>
            </td>
            <td>
              <button (click)="update(user)">Save</button>
            </td>
            <td>
              <button (click)="delete(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
