<table class="orangeTable">
    <tr class="searchRow">
        <td>
            <input placeholder="name" [(ngModel)]="articleToSearch.name">
          </td>
          <td>
            <select [(ngModel)]="articleToSearch.company.id">
                <option [ngValue]="undefined" hidden selected>choose a company</option>
                <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
            </select>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
              </td>
          <td>
              <button class="btn btn-search" (click)="search()"><i class="fas fa-search"></i>Search</button>
          </td>
          <td>
              <button (click)="clearSearch()">Clear</button>
          </td>
    </tr>
    <tr>
      <th>
        Name
      </th>
      <th>
            Year
          </th>
      <th>
        Company
      </th>
      <th>
        Price
      </th>
      <th>
        User
       </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
    <tr>
      <td>
        <input placeholder="insert name" [(ngModel)]="articleToInsert.name">
      </td>
      <td>
            <input placeholder="insert year"  type="number" [(ngModel)]="articleToInsert.year">
      </td>
      <td>
        <select [(ngModel)]="articleToInsert.company.id">
          <option [ngValue]="undefined" hidden selected>choose a company</option>
          <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </td>
      <td>
        <input placeholder="insert price"  type="number" [(ngModel)]="articleToInsert.price">
      </td>
      <td>
        <select [(ngModel)]="articleToInsert.user.id">
          <option [ngValue]="undefined" hidden selected>choose an user</option>
          <option *ngFor="let u of users" [ngValue]="u.id">{{u.username}}</option>
        </select>
      </td>
      <td>
        <button (click)="insert(articleToInsert)">Insert</button>
      </td>
      <td>
        <button (click)="clear()">Clear</button>
      </td>
    </tr>
    <tr *ngFor="let a of articles">
      <td>
        <input class="inputTable" [(ngModel)]="a.name">
      </td>
      <td>
        <input class="inputTable" type="number" [(ngModel)]="a.year">
      </td>
      <td>
        <select [(ngModel)]="a.company.id">
          <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </td>
      <td>
        <input class="inputTable"  type="number" [(ngModel)]="a.price">
      </td>
      <td>
        <select [(ngModel)]="a.user.id">
          <option *ngFor="let u of users" [ngValue]="u.id">{{u.username}}</option>
        </select>
      </td>
      <td>
        <button (click)="update(a)">Save</button>
      </td>
      <td>
        <button (click)="delete(a)">Delete</button>
      </td>
    </tr>
  </table>